<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScotApp.PushKeys" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScotApp.ComPort" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScotApp.General" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Scot.PushKeys" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScotApp.PushKeys>
            <setting name="KEY_1" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_3" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_5" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_6" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_7" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_8" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_9" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_10" serializeAs="String">
                <value/>
            </setting>
        </ScotApp.PushKeys>
        <ScotApp.ComPort>
            <setting name="PORT_NAME" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BAUD_RATE" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="PARITY" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DATA_BITS" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="STOP_BITS" serializeAs="String">
                <value>One</value>
            </setting>
        </ScotApp.ComPort>
        <ScotApp.General>
            <setting name="LOCAL_ECHO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HEX_LOG" serializeAs="String">
                <value>Off</value>
            </setting>
        </ScotApp.General>
        <Scot.PushKeys>
            <setting name="KEY_1" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_2" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_3" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_4" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_5" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_6" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_7" serializeAs="String">
                <value/>
            </setting>
            <setting name="KEY_8" serializeAs="String">
                <value/>
            </setting>
        </Scot.PushKeys>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
